@model CarRentalSystem.Models.Renting.RentCarModel

<h3 class="text-center">Are you sure you want to rent @Model.CarName?</h3>

<p class="text-center">@Model.Days Days * @Model.PricePerDay EUR/Day = @Model.TotalPrice</p>